@tailwind base;
@tailwind components;
@tailwind utilities;

.amis-scope .cxd-PopOverAble-popover  {
  min-width: 150px;
}
.cxd-Pagination-item {
  display: flex;
  align-items: center;
}
.cxd-Pagination-item .cxd-Pagination-prev span {
  display: flex;
  align-items: center;
}
.cxd-Pagination-item .cxd-Pagination-next span {
  display: flex;
  align-items: center;
}

.cxd-Toast-wrap {
  position: fixed !important;
  top: 60px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  z-index: 9999 !important;
}